#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Changes from center to allow better text flow */
}

/* Ensure images and logos stay proportional */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}